/*----------------------------------------
  HTML selectors
----------------------------------------*/
html { font-size: 16px; }
body { margin: 0; background-color: black; color: #fff; }

/*----------------------------------------
  Class selectors
----------------------------------------*/
.wrapper {
	width: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1200px;
  height: auto;
	margin: 0 auto;
}
.content {
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}

/* Page backgrounds */
.home .wrapper {
  background: url(../images/pcbblue-cropped-dark.jpg) no-repeat top center fixed;
}
.npi-main {
  background: url(../images/prototypes.jpg) no-repeat top center;
	background-size: cover;
}

/* Menu */
#panel1 {
	z-index:100040;
	}
#accordion {
	box-shadow:none;
	}
.arrowleft {
	display:inline-block;
	width:300px;height:100px;
	background-image:url('images/spacer10.gif');
	vertical-align:top;
	float:left;
	background-position:0 0;
	margin-left:-200px;
	margin-top:-30px;
}

/* Website Header CSS and media queries */
.logo {
	padding: 9px 0 0 15px;
	margin: 0;
	text-align: left;
  display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.ems {
	padding-top: 15px;
	padding-left: 40px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: center;
	/* add to change EMS-tagline to text (still image at this point)*/
	font-family: Arial, Helvetica, san-serif;
	font-size: 2.35em;
	font-weight: bold;
}
.tagline {
	font-family: Arial, Helvetica, san-serif;
	font-size: 0.5em !important;
	font-weight: normal;
	color: #94a240;
}
.tagline {
	margin-top: -10px !important;
}
.menubutton {
	display: inline-block;
	font-family: Arial;
	font-size: 0.9em;
	font-weight: bold;
	color: #D0281f;
	float: right;
	padding: 8px 20px 0 0;
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
@media (max-width: 933px) { /* have EMS stack and decrease in size */
	.ems { margin-top: 45px; padding-right: 15px; padding-left: 10px; }
	.ems img { max-width: 100%; height: auto;	}
	.tagline { margin-top: -15px !important; }
}
@media (max-width: 575px) { /* header adjustments when in portrait phone mode */
	.ems { margin-right: 0; margin-left: 0; padding: 10px 10px 0 10px; }
	.tagline { margin-top: -19px !important; }
	.menubutton { padding-right: 10px; }
}
@media (max-width: 488px) { /* tighten up tagline to bottom of EMS */
	.ems { padding-top: 7px; }
	.tagline { margin-top: -19px !important; }
}

/* Home page Marketing text CSS and media queries */
.relentless, .increasing, .experience, .allowing {
	text-align: left;
	vertical-align: top;
	font-family: 'cervo_neuelight_neue';
	font-size: 1.64em;
	color: white;
	text-shadow: 0 0 5px black, 0 0 10px black;
	line-height: 1.015;
}
.relentless { display: block; padding: 6% 0 0 6%; }
.increasing { padding: 5.5% 0 0 15%; }
.experience { display: inline-block; padding: 10.5% 0 0 0; }
.circlearrow { display: inline-block; padding: 10.5% 0 0 10px; }
.allowing { display: block; padding: 4.3% 0 6% 11%; }

/* @media (max-width: 1200px) {
	.relentless, .increasing, .experience, .allowing {
		margin: 0 -18px 0 -88px;
	}
} */

@media (max-width: 767px) {
	.relentless { padding: 5% 0 0 5%; font-size: 1.4em; }
  .increasing { padding: 5% 0 0 9%; font-size: 1.4em; }
	.experience { padding: 8% 0 0 5%; font-size: 1.4em; margin-left: 3%; }
	.circlearrow { padding: 6% 0 0 5px; }
	.allowing { padding: 0.5% 0 3% 6.5%; font-size: 1.4em;	}
}
@media (max-width: 559px) { /* increasing line wraps when > 50% or 6 cols */
	.increasing { padding: 8% 0 6% 15%; }
	.experience { padding: 17% 0 0 5%; }
	.circlearrow { padding: 15% 0 0 5px; }
}
@media (max-width: 544px) { /* */
	.increasing { padding: 5% 0 0 15%; }
	.allowing { padding: 6% 0 0 6.5%; }
	.experience2 { margin-top: -8%; padding: 0 5% 0 5%; text-align: right; }
}
/* Home page Awards section CSS */
.awards {
	display: block;
	padding: 10px 0 0 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.65em;
	color: white;
	text-align: center;
}
.awardscenter { display: inline-block; text-align: center; padding: 0; }
.awardsleft { display: inline-block; text-align: right; padding-top: 4px; }
.awardsright { display: inline-block; text-align: left; padding-top: 4px; }
.textspacer {
	display: inline-block;
	max-width: 135px;
	text-align: center;
	vertical-align: top;
	margin: 0;
	padding: 20px 0 0 0;
  text-shadow: 0px 0px 1px black, 0px 0px 2px black;
}
@media (min-width: 420px) and (max-width: 661px) { /* undo all the bootstrap margins and gutters, move text closer to image bottom between 420 and 661 */
  .awardsleft { margin-left: -95px; margin-right: -20px; }
  .awardscenter { margin-left: -20px; margin-right: -20px; }
  .awardsright { margin-left: -20px; margin-right: -60px; }
  .textspacer { width: 100%; padding: 0; line-height: 1.2; }
  .seatext { margin-top: -37px; margin-right: -15px; }
  .iwtext { margin-top: -3px; }
  .bwtext { margin-top: -15px; margin-left: -10px; }
}
@media (min-width: 420px) and (max-width: 475px) {
	.certifications2 { padding-top: 10px !important; }
	.company { display: none; }
	.fmenu { text-align: center;
		padding-top: 10px;
		font-size: 1.12em;
	}
}
@media (max-width: 419px) { /* have awards stack at 419, remove blank space in graphics to tighten them up vertically */
	.awards { margin: 10px -15px 0 -15px; padding-top: 0 !important; font-size: 0.68em; line-height: 1.25; } /* background: rgba(0,0,0,.4); */
	.awardsleft { margin-bottom: -25px; width: 100%; text-align: center; }
  .awardscenter { margin-bottom: -15px; margin-left: -20px; margin-top: -10px; width: 100%; text-align: center; }
  .awardsright { margin-left: -20px; margin-top: -10px; width: 100%; text-align: center; }
	.textspacer { max-width: 180px; margin-left: 5px; }
	.seatext { margin-top: 3px; }
  .iwtext { margin-top: 4px; }
  .bwtext { margin-top: 3px; }
	.certifications2 { padding-top: 3px !important;  background: rgba(0,0,0,1); /* rgba(1,45,85,1); */ }
	.company { display: none; }
	.fmenu { text-align: center;
		padding-top: 10px;
		font-size: 1.05em;
	}
}

/* Home page Footer section CSS */
.footerarea {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 0.675em;
	color: white;
	width: 100%;
	text-align: center;
}
.home .footerarea {
	margin-top: -40px;
}
.socialmedia {
	padding: 0 0 5px 0;
	text-align: left;
}
.footermenu {
	display: inline-block;
  padding: 5px 0 0 15px;
	margin-top: -25px;
  float: left;
  text-align: left !important;
}
.footermenu a {
  text-decoration: none;
  color: white;
}
.copyright {
	display: inline-block;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1em;
  color: #999;
  padding: 37px 0 0 10px;
	line-height: 1.0;
}
.certifications {
	display: inline-block;
  padding: 5px 15px 0 0;
  text-align: right;
  float: right;
}
.copyright2 {
	display: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.05em;
  color: #999;
  padding: 27px 0 0 10px; /*  27px 0 0 10px */
	margin-top: 8px;
	line-height: 1.0;
}
.certifications2 {
  display: none;
  padding: 8px 0 5px 0 !important;
  text-align: right;
  float: right;
	background: rgba(0,22,44,1);
}
@media (max-width: 958px) {
	.home .footerarea { margin-top: -20px; }
}
@media (max-width: 814px) {
  .copyright { display: none !important; }
  .copyright2 { display: inline-block; width: 100%; text-align: center; padding-top: 0 !important; }
}
@media (max-width: 620px) {
	.home .footerarea { margin-top: 0; }
}
@media (max-width: 474px) {
  .footermenu { width: 100%; padding: 13px 0 0 0 !important;}
  .certifications { display: none; }
  .certifications2 { display:inline-block; width: 100%; text-align: center; }
  .copyright2 { padding-top: 10px !important; }
	.socialmedia { padding: 10px 0 10px 0; 	text-align: center; }
}

/* two column pages */
h1 {
  font-family: "cervo_neueextrabold_neue";
  font-size: 1.7em;
	margin-top: 20px; /* counteract craziness.css h1 margin-top: 40px */
  text-align: center;
  text-shadow: 0 0 2px black;
  width: 100%;
}
.npi-main {
	clear: both;
}
.npi .maintext {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  line-height: normal;
  padding: 1% 50px 1% 2.5%;
}
@media (max-width: 767px) {
	.npi .maintext {
	  padding: 0 15px 0 25px; /* was 15px */
	  background: rgba(0,0,0,.7);
		margin: 0 -15px;
	}
}

.floatlist {
  list-style-type: circle;
  padding-left: 40px;
  padding-top: 0;
  white-space: normal;
}
.floatlist li {
  font-size: 1em !important;
  padding: 1px;
}

/* Effects */
.text-glow {
	text-shadow: 1px 0px 20px black;
	-webkit-transition: 1s linear 0s;
	-moz-transition: 1s linear 0s;
	-o-transition: 1s linear 0s;
	transition: 1s linear 0s;
	outline: 0 none;
}
