/* Super Panel: www.menucool.com/ui/super-panel */

/*---- panel ----*/
#panel1 {
    position:absolute; /* Alan changed from fixed to absolute (moved panel to be within website frame) */
    z-index:9000;
    /* top:40px; /* Alan removed top: 24px 12/22/16 */
    right:-15px; /* Alan changed from left to right (moved panel from left side to right side) */
    width:380px; height:600px; /* Alan changed width from 360 to 380 to accomodate longer sub-menu items, height from 100% to 560px */
    background:black url(../../images/spacer10.gif) no-repeat left bottom; /* Alan changed from white to black, (changed panel from white to black) */
    padding:55px 0px 30px 0px; /* Alan add bottom padding on 12/22/16 - changed from 20px 0; to 0px, 0 (moved first menu item closer to the top of the page) */
    box-sizing:border-box;
    box-shadow:4px 0 18px rgba(0,0,0,0.2);
    visibility:hidden;
}

/*---- transparent layer ---- Available when the option transparentLayer is true in pane-panel.js */
.transparent-layer {
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    width:100%;height:100%;
    background-color:rgba(255,255,255,0.9);
    display:none;
    -webkit-transition:opacity 0.5s; /* Alan changed from 0.3 (made no difference) */
    transition:opacity 0.5s; /* Alan changed from 0.3 (made no difference) */
}

/*---- panel button ----*/
.panel-button {
    -ms-user-select:none;
    -mos-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.panel-button {
    position:absolute; margin:28px 20px 0 12px; top:0; right:0; /* was 28px 26px 0 12px - Alan changed from left to right (moved button from left to right side) */
    /* Alan changed position: fixed to absolute (moved menu button to website frame)
    and margin:12px 0 0 12px; to margin:28px 10px 0 12px; (positioned menu button properly for my design) - on 1/5/17 I changed the right spacing from 10 to 30px to fix Bootstrap spacing issues */
    /*display:inline-block;vertical-align:middle;position:relative;*/
    /* 1/5/17 Alan added !important to the margin statement to mitigate bootstrap spacing */
    background-color:white; /* Alan changed from black to white (changes center line in menu button from black to white before clicked) */
    height:3px;
    width:24px;
    border-style:solid;
    border-color:#D0281F; /* Alan changed from white to red-#D0281F (changes menu button background from white to red) */
    border-top-width:18px;
    border-bottom-width:18px;
    border-left-width:8px;
    border-right-width:8px;
	  cursor: pointer;
    box-sizing:content-box;
}
@media (max-width: 575px) { /* header adjustments when in portrait phone mode */
  .panel-button { margin-right: 10px; }
}

.panel-button:before, .panel-button:after {
    background-color:white; /* Alan changed from black to white (changed lines in menu button to white) */
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 24px;
    height: 3px;
    display:block;
    transition:all .2s linear;
}
.panel-button:after {
    top: 8px;
}

.panel-button.active {
    background-color:#D0281F; /* Alan changed this from white to red-#D0281F (changed center line in menu button from white to red after clicked) */
}
.panel-button.active:before {
    transform: rotate(45deg);
    top:0;
}
.panel-button.active:after {
    transform: rotate(-45deg);
    top:0;
}
